body {
    display: flex;
    box-sizing: border-box;
    font-family: sans-serif;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
}
audio-player {
    flex-grow: 1;
}
main {
    display: grid;
    grid-template-areas:
        "clients clients clients"
        "player playlist files"
        "upload upload upload"
        ;
    flex-grow: 1;
}
footer {
    margin-top: 2rem;
    order: 10000;
    font-size: 0.8rem;
}
.clients {
    grid-area: clients;
}
.player {
    grid-area: player;
}
.playlist {
    grid-area: playlist;
}
.files {
    grid-area: files;
}
.upload {
    grid-area: upload;
}

audio {
    vertical-align: middle;
}

li.play {
    list-style-type: "âµ ";
}
li.pause {
    list-style-type: "\23F8 ";
}

li.dir, li.playlist {
    cursor: pointer;
    list-style-type: "> ";
}
li.dir.open, li.playlist.open {
    list-style-type: "v ";
}
li.dir > ul, li.playlist > ul {
    display: none;
}
li.dir.open > ul, li.playlist.open > ul {
    display: block;
}

.hidden {
    display: none;
}

.delete, .remove {
    margin-left: 1em;
}

[draggable=true] {
  cursor: move;
}