body {
    font-family: sans-serif;
}
main {
    display: grid;
    grid-template-areas:
        "clients clients"
        "player playlist"
        "upload files"
        ;
}
.clients {
    grid-area: clients;
}
.player {
    grid-area: player;
}
.playlist {
    grid-area: playlist;
}
.files {
    grid-area: files;
}
.upload {
    grid-area: upload;
}

audio {
    vertical-align: middle;
}

li.play {
    list-style-type: "âµ ";
}
li.pause {
    list-style-type: "\23F8 ";
}

li.dir, li.playlist {
    cursor: pointer;
    list-style-type: "> ";
}
li.dir.open, li.playlist.open {
    list-style-type: "v ";
}
li.dir > ul, li.playlist > ul {
    display: none;
}
li.dir.open > ul, li.playlist.open > ul {
    display: block;
}